body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: consolas;
}

h2 {
  text-align: center;
}

#result {
  width: 276px;
  height: 18px;
  margin-left: 9px;
  resize: none;
}

input[type="number"] {
  width: 35px;
  float: right;
}

input[type="checkbox"] {
  vertical-align: middle;
  float: right;
}

.primary-box {
  width: 400px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  padding: 15px;
  background-color:rgb(40, 40, 40);
  color:rgb(200, 200, 200);
}

.settings {
  padding: 10px;
}

#generate {
  margin-left: 9px;
  height: 40px;
  width: 391px;
  font-size: 18px;
  background-color: rgb(200, 200, 200);
}

.result-box {
  background-color: #fff;
  margin-left: 9px;
  font-size: 18px;
  height: 20px;
}