body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: consolas;
}

#box {
  margin-left: 99px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-color: #000000;
}

input {
  margin-top: 10px;
}

.buttons {
  background-color: rgb(200, 200, 200);
}

textarea {
  display: block;
  width: 500px;
  height: 200px;
}