body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: consolas;
}

input[id="item-quantity"] {
  width: 40px;
}

input[id="item-price"] {
  width: 80px;
}

.block-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.block-cart {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.cart {
  font-size: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  background-color: rgb(200, 200, 200);
}

.link {
  color: #fff
}

#total-price {
  font-size: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}