body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: consolas;
}

.buttons {
  background-color: rgb(200, 200, 200);
}

.add-coin {
  width: max-content;
  margin-top: 120px;
  margin-right: auto;
  margin-left: auto;
}
