body {
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: consolas;
}

h1 {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.block-ranges {
  padding: 50px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  width: 65px;
}

.buttons {
  background-color: rgb(200, 200, 200);
}

.button {
  width: fit-content;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
}

#result {
  width: max-content;
  font-weight: bold;
  font-size: 48px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}